.switcher{
    display: flex;
    justify-content: space-between;
    margin-top: -24px;
    width: 90%;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 5%;
}

.jobCategories{
    display: flex;
    list-style-type: none;
    padding-left: 0;
}

.jobCategories li{
    padding: 15px;
}

#allVacancy{
    padding: 15px;
    font-weight: 100;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#allVacancy, .jobCategories li{
    background-color: white;
}

#allVacancy:hover, .jobCategories li:hover{
    cursor: pointer;
    background-color: rgb(248,244,244);
} 

.activeFilter{
    border-bottom: 2px solid var(--green-color);
    color: var(--green-color)
}