.vacancyContainer{
    margin-top: 10px;
    width: 345px;
    height: 200px;
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-left: 15px;
    background-color: white;
    flex: 0 0 calc(33.33% - 20px); 
    box-sizing: border-box;
}

.vacancies{
    margin-left: 5%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.time{
    color: #526269;
    font-size: 13px;
    margin-top: 13px;
    font-weight: 600;
    padding-bottom: 5px;
}

.work{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 3px;
    cursor: pointer;
}

.work a{
    color: black;
    text-decoration: none;
}

.salary{
    font-size: 17px;
    padding-bottom: 10px;
}

.company{
    font-size: 13px;
    padding-bottom: 5px;
    color: green;
    font-weight: 600;
}

.city{
    font-size: 13px;
    margin-bottom: 13px;
}

.respondBtn, .callBtn{  
    width: 150px;
    height: 38px;
    border: 0px;
    border-radius: 5px;
    transition: .3s;
    font-weight: 600;
}

.respondBtn{
    background-color: var(--green-color);
    color: white;
}

.callBtn{
    background-color: white;
    color: var(--green-color);
    border: 2px solid var(--green-color);
    margin-right: 15px;
}

.respondBtn:hover{
    cursor: pointer;
    background-color: rgb(22, 192, 152);
    transition: .3s;
}

.callBtn:hover{
    cursor: pointer;
    background-color: rgb(236, 236, 236);
    transition: .3s;
}

.btns{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .vacancyContainer {
      flex: 0 0 100%;
      height: auto;
    }

    .vacancies{
        justify-content: center;
        width: 150%;
    }
  
    .work {
      font-size: 18px; /* Уменьшить размер шрифта для заголовка */
    }
  
    .salary,
    .company,
    .city,
    .time {
      font-size: 14px; /* Уменьшить размер шрифта для остальных элементов */
    }
  
    .respondBtn,
    .callBtn {
      width: 95%; /* Растянуть кнопки на всю ширину контейнера на мобильных устройствах */
      margin-right: 0; /* Удалить отступ между кнопками */
      margin-bottom: 10px; /* Добавить отступ под кнопками */
    }

    .callBtn{
        margin-bottom: 15px;
    }
  
    .btns {
      flex-direction: column; /* Изменить направление flex-контейнера на column для мобильных устройств */
    }
  }