#authIcon{
    height: 25px;
    width: 25px;
}

#helpIcon{
    height: 31px;
    width: 31px;
}

.HelpBtn, .AuthBtn{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.HelpBtn{gap: 8px}

.AuthBtn{gap: 10px}

.HelpBtn label, .AuthBtn label{
    cursor: pointer;
}

.HelpAuthBtns{
    display: flex;
    margin-right: 50px;
    justify-content: space-between;
    width: 190px;
    gap: 25px;
    align-items: center;
}

@media (max-width: 768px) {
    .HelpAuthBtns {
        gap: 20px;
    }
  }