.vacancyInfo{
    margin: 82px 15% 15px;
    background-color: white;
    border-radius: 5px;
    padding: 23px;
}

.vacancyWork{
    margin-bottom: 10px;
}

.vacancySalary{
    margin-bottom: 20px;
    color: var(--green-color)
}

.jobDescription{
    font-weight: 100;
    margin-bottom: 20px;
}

.workingConditions, .requirementsOfTheCandidate{
    padding-bottom: 20px;
}

.workingCondition, .requirementOfTheCandidate{
    padding-top: 5px;
    font-weight: 100;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.vacancy_respondBtn, .vacancy_callBtn{
    width: 250px;
    height: 38px;
    border: 0px;
    border-radius: 5px;
    transition: .3s;
    font-weight: 600;
}

.vacancy_respondBtn{
    background-color: rgb(4, 172, 132);
    color: white;
}

.vacancy_callBtn{
    background-color: white;
    color: rgb(4, 172, 132);
    border: 2px solid rgb(4, 172, 132);
    margin-right: 15px;
}

.vacancy_respondBtn:hover{
    cursor: pointer;
    background-color: rgb(22, 192, 152);
    transition: .3s;
}

.vacancy_callBtn:hover{
    cursor: pointer;
    background-color: rgb(236, 236, 236);
    transition: .3s;
}

.vacancy_btns{
    display: flex;
    align-items: center;
    gap: 50px;
}

.companyInfo{
    display: flex;
    align-items: center;
    margin: 30px 15% 15px;
    background-color: white;
    border-radius: 5px;
    padding: 23px;
    gap: 40px;
}

.companyName{
    text-align: center;
    margin-bottom: 10px;
}

.companyDescription{
    font-weight: 100;
    margin-bottom: 10px;
}

.companyAddress{
    text-align: end;
}

.companyLogo{
    height: 50px;
}